// block-top
.block-top {
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;

  .block-1 {
   .container .menu {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     position: fixed;
   }
 }
}

.link-content  {
   display: flex;
   justify-content: center;

   a.link {
      font-size: 14px;
      margin-left: 20px;
      margin-right: 20px;
      color: #a6a6a6;

      &:last-of-type {
        margin-right: 0px;
      }
  }
}

a.link {
  position:relative;
  display: block;
  cursor: pointer;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -10px;
    background: #E27866;
  }

  &:before{
    left: 0;
  }
  &:after{
    right: 0;
    background: #E27866;
    transition: width 0.5s cubic-bazier(0.22,0.61,0.31,1);
  }

  &:hover:before{
    background: #E27866;
    width: 100%;
    transition: width 0.8s cubic-bazier(0.22,0.61,0.31,1);
  }

  &:hover:after{
    background: transparent;
    width: 100%;
    transition: 0s;
  }
}

  nav.menu {
    display: flex;
    line-height:50px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    align-items:center;
     a {
    font-size: 14px;
    color: $nav-font-color;
    text-decoration: none;
    }
  }

#burger {
  display: none;
  font-size: 1.7em;
  transition: transform 0.3s;
}

#logo {
display: flex;
}

@media (max-width: 768px){

  .link-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   opacity: 1;
   z-index: 999;
   left:0;
   top: 72px;
   right:0;
   background-color:black;
   visibility: hidden;
   height: 0;
   overflow: hidden;

   &.active {
     visibility: visible;
     height: auto;
     overflow: visible;
   }
   .link {
     margin: 0 auto;

     &:last-of-type{
       margin: 0px;
       margin-bottom: 20px;
     }
   }
 }

 #burger {
   display: block;
 }

}
