
// block-top
$nav-font-color:#FFFFFF;
$nav-active-border-color: #E27866;
$nav-bg-color: #1C1C1C;
// main font color
$font-color: #FFFFFF;
$banner-button-color: #41D395;
$banner-form-bg-color: #FFFFFF;
$form-text-color:#333333;
// block-socialIcons
$font-text-color: #333333;
$font-paragraph-color: #86878B;
// block-tabs-swiper
$font-color: #FFFFFF;
// block-main
$font-color: #FFFFFF;
$main-p-color: #e9e6e6ed;
$main-bg-color: #1C1C1C;
// block-arguments
$font-arguments-color: #212121;
$font-arguments-p-color: #86878B;
// block-pricing
$font-pricing-color:#FFFFFF;
$font-pricing-bg-color: #6696E2;
// block-customer
$customers-bg-color: #FFFFFF;
// block-contact
$contactus-bg-color: #E27866;
